<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <title>学生信息管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<div id="wrap">
    <div id="main" class="clearfix">
        <% include public/nav %>
        <div class="container">
            <!--搜索-->
            <form action="/course" method="get" class="navbar-form navbar-left" role="search"
                  style="margin:20px 0px 20px -15px">
                <div class="form-group">
                    <input type="search" class="form-control" name="query" placeholder="Search"
                           value="<%= (query == undefined ? '' : query) %>">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
                <a href="/course" type="submit" class="btn btn-info">清空</a>
            </form>
            <!--表格-->
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>课号</th>
                        <th>课程名</th>
                        <th>学分</th>
                        <th>教师</th>
                        <th>平均分</th>
                        <th>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" onclick="add()">
                                添加课程
                            </button>
                        </th>
                    </tr>
                    <% if(courses != undefined){
                            courses.forEach(function(course){ %>
                    <tr id="<%= course._id %>">
                        <td><%= course.cno %></td>
                        <td><%= course.cname %></td>
                        <td><%= course.credit %></td>
                        <td><%= course.teacher %></td>
                        <td></td>
                        <td>
                            <button class="btn btn-warning" data-toggle="modal" data-target="#addModal"
                                    onclick="update('<%= course._id %>')">修改
                            </button>
                            <a href="/course/delete/<%= course._id %>" class="btn btn-danger">删除</a>
                    </tr>
                    <% });} %>
                </table>
            </div>
            <!--模态框-->
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                            <h4 class="modal-title" id="modal-title">添加课程信息</h4>
                        </div>
                        <form class="form-horizontal" id="form" method="post" action="/course">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="cno" class="col-sm-2 control-label">课号</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="cno" name="cno" placeholder="课号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cname" class="col-sm-2 control-label">课程名</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="cname" name="cname"
                                               placeholder="课程名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="credit" class="col-sm-2 control-label">学分</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="credit" name="credit"
                                               placeholder="学分">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="teacher" class="col-sm-2 control-label">教师</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="teacher" name="teacher"
                                               placeholder="教师">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <input class="btn btn-primary" type="submit" value="确认"/>
                            </div>
                        </form>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
</div>
<!-- 页脚版权信息 -->
<% include public/footer %>

<!-- js脚本 -->
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/coffee-script.js"></script>
<script src="/javascripts/course.js"></script>
</body>

</html>

